@define-color rosewater rgba(245, 224, 220, 0.3);
@define-color flamingo rgba(242, 205, 205, 0.3);
@define-color pink rgba(245, 194, 231, 0.3);
@define-color mauve rgba(203, 166, 247, 0.3);
@define-color red rgba(243, 139, 168, 0.3);
@define-color maroon rgba(235, 160, 172, 0.3);
@define-color peach rgba(250, 179, 135, 0.3);
@define-color yellow rgba(249, 226, 175, 0.3);
@define-color green rgba(166, 227, 161, 0.3);
@define-color teal rgba(148, 226, 213, 0.3);
@define-color sky rgba(137, 220, 235, 0.3);
@define-color sapphire rgba(116, 199, 236, 1);
@define-color blue rgba(137, 180, 250, 0.3);
@define-color lavender rgba(180, 190, 254, 0.8);
@define-color text rgba(205, 214, 244, 1);
@define-color subtext1 rgba(186, 194, 222, 0.3);
@define-color subtext0 rgba(166, 173, 200, 0.3);
@define-color overlay2 rgba(147, 153, 178, 0.3);
@define-color overlay1 rgba(127, 132, 156, 0.3);
@define-color overlay0 rgba(108, 112, 134, 0.3);
@define-color surface2 rgba(88, 91, 112, 0.3);
@define-color surface1 rgba(69, 71, 90, 0.3);
@define-color surface0 rgba(49, 50, 68, 0.3);
@define-color base rgba(30, 30, 46, 0.3);
@define-color mantle rgba(24, 24, 37, 0.3);
@define-color crust rgba(17, 17, 27, 1);


* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    border-radius: 15px;
}

window {
    margin: 5px;
    background-color: @mantle;
    border: 3px solid @lavender;
    border-radius: 15px;
}

#outer-box {
    margin: 4px;
    border-radius: 15px;
}

#input {
    /* margin: 10px 10px 15px 10px; */
    margin: 10px;
    background-color: @base;
    color: @text;
    border-radius: 8px;
    padding: 3px;
    border: 1px solid @subtext1; 
}

#inner-box {
    margin: 0px 10px 50px 10px;
    border-radius: 0px;
    background-color: @mantle;
}

#scroll {
    margin: 0px 0px;
    border-radius: 8px;
    border: none;
}

#text {
    margin: 2px;
}

#entry {
    border: none;
    border-radius: 8px;
}


#entry:selected {
    color: @crust;
    background: @lavender;
}
